
* {
    margin: 0;
    padding: 0;
}

#app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}